body {
    margin: 0;
    background: #cfd3be;

  }
  * {
    font-family: Arial, Helvetica, sans-serif;
}
.containerGame
  {
    margin: 0;
    height: 100%;
    width: 100%;
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .containerLevel
  {
    margin-top: 50px;
    height: 40px;
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .countLevel {
    height: 70px;
    width: 250px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid #dfe1e5;
    outline: none;
    color: #2c4e50;
    background-color: #ecfeec;
  }
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 20%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
    cursor: pointer;
  }
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #0c9aad77;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border-radius: 24px;
    border-color: rgba(223, 225, 229, 0);  
    
    outline: none;
    cursor: pointer;
  }
  .btn-start:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border: 1px solid #dfe1e5;
  }
  .hide {
    display: none;
  }
  .swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
  }
  .swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid rgb(3, 3, 3);
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }
